.report_main {
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    position: relative;
    top: 70px;
    align-items:flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: calc(100vh - 70px);
    padding: 30px;

}
.calendarContainer, .reports{
    margin: 0 20px;
}
.calander {
    width: 350px;
    height: 50px;
}

.reports-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #f0f0f0;
    border: 1px solid rgb(219, 219, 219);
    /* border: 1px solid gainsboro; */
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}
.reports {
    min-width: 300px;
    /* padding: 20px; */
    /* border: 1px solid rgb(219, 219, 219); */
    /* background:  rgba(220, 220, 220, 0.215); */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.reports h4{
    color: gray;
    margin-bottom: 10px;
}

.alerts{
padding: 5px;
border: 1px solid gainsboro;
border-radius: 5px;
margin-bottom: 10px;
}


button.download-btn{
    /* width: 350px; */
    margin: 10px;
    background: #0C9D5811;
    align-self: flex-end;
    border:1px solid #0C9D58
}