.vehicle_main{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        min-height: 100vh;
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
}

.vehicle_left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.vehicle_left img{
    width: 100%;
    max-width: 40vw;
    min-width: 500px;
    border-radius: 10px;
    object-fit: cover;   
}

.vehicle_right{
    width: 40%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.vehicle_details{
    background-color: #F3F3F3;
    min-width: 430px;
    height: 360px;
    text-align: center;
    border-radius: 10px;
}
.vehicle_no{
    text-align: left;
    padding: 30px;
}

.vehicle_no h3{
     margin-top: 10px;
}

.vehicle_details .not_registerd i{
    color: #D10000;
    font-size: 60px;
    padding: 15px;
}

.vehicle_details .not_registerd h5{
    color: #D10000;
    padding: 10px;
}

.vehicle_details .not_registerd button{
    background-color: black;
    margin: 15px;
    padding: 12px 40px;
}


.vehicle_details .verified i{
    color:#0C9D58;
    font-size: 60px;
    padding: 15px;
}

.vehicle_details .verified h5{
    color: #0C9D58;
    padding: 10px;
}



