.home_container {
    display: flex;
    margin: auto;
    position: relative;
}


.home_left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    background-color: #EFF5FF;
    height: 100vh;

}

.home_left img {
    width: 80%;
    background-color: #EFF5FF;
}

.home_right {
    width: 45%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_right img {
    width: 6.5%;
    position: absolute;
    top: 20px;
    right: 30px;

}