.home_container {
    display: flex;
    margin: center;
    align-items: stretch;
    justify-content: space-around;
    position: relative;
}


.home_left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-color: #EFF5FF;
    height: 100vh;
    justify-self: flex-start;
}

@media screen and (max-width:800px) {
    .home_container 
    {}

    .home_left {
        display: none;
    }
}

.home_left img {
    width: 80%;
    background-color: #EFF5FF;
}

.home_right {
    width: 40%;
    min-width: 350px;
    height: 100vh;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_right img.corner-logo {
    min-width: 50px;
    width: 6.5%;
    position: absolute;
    top: 20px;
    right: 30px;

}