.videos_main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.videos_main div{
    background-color: #D9D9D9;
    width: 350px;
    height: 250px;
    margin: 10px;
}
