.login_main h4.heading{
text-align: center;
/* margin: 30px; */
font-size: 40px;
color: #008BCD;
}

.head-icon{
    text-align: center;
    color: #008BCD;
    font-size: 100px;
}
.main_buttons{
    width: 100%;
    margin: 30px 10px;
    position: relative;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #008BCD;
}

.main_buttons .btn-bg{
    transition: .3s;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: #008BCD;
    z-index: -1;
}


.main_buttons button{
    color: #008BCD;
    background-color: transparent;
}
.main_buttons button.btn:hover{
    color: #0e6b96;
    background-color: #008ccd26;
}
.main_buttons button.btn.active{
    /* background: #008BCD; */
    color: #fff;
}

.main_buttons button:hover{
    color: #fff;
}

.main_buttons button:nth-child(1){
 width: 50%;
 border-bottom-right-radius: 0px;
 border-top-right-radius: 0px;
}
.main_buttons button:nth-child(2){
 width: 50%;
 border-bottom-left-radius: 0px;
 border-top-left-radius: 0px;
}

 button.btn.sign-in{
    background: #008BCD ;
}

button.btn.sign-in:hover{
    background: #0399de ;
}
.main_buttons button i{
    margin-right: 10px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    min-width: 450px;
}

input{
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    background-color: #EFF5FF;
}

form label{
    margin-left: 11px;
    margin-bottom: -10px;
}

form span{
    text-align: end;
}



.from-left{
    opacity: 0;
    transform: translateX(-50px);
    animation: loadtocenter .3s ease-in-out forwards;
}
.from-right{
    opacity: 0;
    transform: translateX(50px);
    animation: loadtocenter .3s ease-in-out forwards;
}

@keyframes loadtocenter{
    0%{}
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}