.navbar_main{
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1.5px solid #cdcdcd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.489);
    width: 100%;
    padding:10px;
    color: #333;
    height: 60px;
    z-index: 999;
}
.navbar_main.dark{
    background: #222;
    box-shadow:inset 0 -4px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 1.5px solid #555;
    color: #fff;
}
.navbar_main .select{
    padding: 10px 25px;
    margin-right: 30px;
    /* background:#008BCD11; */
    color: #333;
    border-radius: 8px;
    border: 1px solid #aaa;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    cursor: pointer;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    text-transform: capitalize;
}
.navbar_main .select svg{
    margin-left:10px;
}

.navbar_main.dark .select{
    color: #fff;
}

.navbar_main .select .options{
    max-height: 0px;
    height: 0px;
    max-height: 300px;
    width: calc(100% + 2px);
    position: absolute;
    top: calc(100% );
    left: -1px;
    display: flex;
    /* transition: .1s; */
    flex-direction: column;
    text-align: center;
    background: #fff;
    border-radius: 0 0 5px 5px;
    overflow: auto;
}
.navbar_main .select .options span{
    padding: 5px 0;
    margin: 4px ;
    background: #008BCD11;
    border: 1px solid #008BCD33;
    border-radius: 4px;
    transition: .3s;
}
.navbar_main .select .options span:hover{
    background: #008BCD;
    color: #fff;
}
.navbar_main > .select:hover{
    border-radius: 8px 8px 0 0;
    background: #008BCD;
    color: #fff;
    border-bottom: 0px solid #aaa;
}
.navbar_main .select:hover .options{
    max-height: 300px;
    height: auto;
    border: 1px solid #aaa;
    border-top: none;
    color: #666;
} 

 
.alert{
    /* background:#F3F3F3; */
    padding: 0 10px;
    color: #333;
    margin-right: 30px;
    border-radius: 8px;
    /* min-width: 350px; */
    border: 1px solid #333;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    cursor: pointer;
    /* transition: .3s; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.alert.active:hover{
    background: #EC3B2911;    
}
.alert:hover{
    background: #33333311;    
}

.navbar_main.dark .alert{
    border: 1px solid #fff;
    color: #fff;
}
.navbar_main.dark .alert.active{
    color: #EC3B29;
    border: 1px solid #EC3B29;
}
.navbar_main .alert{
    /* border: 1px solid #fff;
    color: #fff; */
}
.navbar_main .alert.active{
    color: #EC3B29;
    border: 1px solid #EC3B29;
}
.alert.active span{
    color: #EC3B29;
}
.navbar_main.dark .alert span{
    color: #fff;
}
.alert span{
    font-size: 18px;
    padding: 15px;
    color: #333;
}

.icons{
    display: flex;
    align-items: center;
}
.icons span{
    cursor: pointer;
    font-size: 20px;
    width: 40px;
    height: 40px;
    /* padding: 10px; */
    border-radius: 50%;
    color: #666;
    background: #00000011;
    border: 1px solid #00000044;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    margin: 0 10px;
}
.navbar_main.dark .icons span{
    /* border: 1px solid #ffffff44; */
    color: #fff;
}

.icons span:hover{
    border: 1px solid #008BCD;
    color: #008BCD;
    background: #008BCD22;
    transform: scale(1.05);
}

.icons span:active{
    color: #666;
    background: #00000011;
    border: 1px solid #00000044;
    transform: scale(0.95);
}
.icons :nth-child(1){
    /* margin-right: 30px; */
    /* font-size: 20px; */
}

.icons :nth-child(2){
    /* font-size: 20px; */
    /* margin-right: 180px; */
}

@media screen and (max-width:900px){
    .alert{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        min-width: auto;
    }
    .alert span{
        display: none;
    }
}